{% extends "core/storage/base.html" %}
{% block storage_content %}
    <div class="d-flex justify-content-between mb-2">
        <h3 class="align-self-end mb-0">Overview</h3>
        <div class="d-flex">
            <div class="dropdown me-1">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuCreate" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-plus"></i> New
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuCreate">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#fileCreateModal">File</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#folderCreateModal">Folder</a></li>
                </ul>
            </div>
            <button class="btn btn-secondary btn-sm border bg-white text-dark mb-1" type="button" data-bs-toggle="modal" data-bs-target="#fileUploadModal">
                <i class="bi bi-upload"></i> Upload files
            </button>
        </div>
    </div>

    <!-- Action Rename modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>

    <!-- File create modal -->
    <div class="modal fade" id="fileCreateModal" tabindex="-1" aria-labelledby="fileCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileCreateModalLabel">
                        <i class="bi bi-file-earmark me-1"></i> Create file
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fileCreateForm" action="{% url 'api_files' %}?path={{ breadcrumb|last|first }}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="File name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="fileCreateForm">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Folder create modal -->
    <div class="modal fade" id="folderCreateModal" tabindex="-1" aria-labelledby="folderCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="folderCreateModalLabel">
                        <i class="bi bi-folder-fill text-primary me-1"></i> Create folder
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="folderCreateForm" action="{% url 'api_folders' %}?path={{ breadcrumb|last|first }}" method="POST">
                        {% csrf_token %}
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Folder name" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="folderCreateForm">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- File upload modal -->
    <div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileUploadModalLabel">
                        <i class="bi bi-file-earmark me-1"></i> Upload files
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="fileUploadForm" action="{% url 'api_files_upload' %}?path={{ breadcrumb|last|first }}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="file" type="file" class="form-control" multiple required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="fileUploadForm">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="d-sm-table-cell d-none">Modified</th>
                <th scope="col" class="d-md-table-cell d-none">Size</th>
            </tr>
        </thead>
        <tbody>
            {% for subdir in subdirs %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center text-truncate">
                                <a href="{% url 'core_browse' username=request.user.username path=subdir.relative_path %}" class="text-dark text-decoration-none">
                                    <i class="bi bi-folder-fill text-primary me-1"></i>
                                    <span>{{ subdir.name }}</span>
                                </a>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-sm" id="optionsDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="optionsDropdownMenu">
                                      <li><a class="dropdown-item" href="#">Download</a></li>
                                      <li><a class="dropdown-item" href="#">Delete</a></li>
                                      <li><a class="dropdown-item" href="#">Rename</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="d-sm-table-cell d-none">{{ subdir.last_modified_date }}</td>
                    <td class="d-md-table-cell d-none">{{ subdir.listdir|length }} items</td>
                </tr>
            {% endfor %}
            {% for file in files %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center text-truncate">
                                <a href="#" class="text-dark text-decoration-none">
                                    <i class="bi bi-file-earmark me-1"></i>
                                    <span>{{ file.name }}</span>
                                </a>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-sm" id="optionsDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="optionsDropdownMenu">
                                      <li><a class="dropdown-item" href="#">Download</a></li>
                                      <li><a class="dropdown-item" href="#">Delete</a></li>
                                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Rename</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="d-sm-table-cell d-none">{{ file.last_modified_date }}</td>
                    <td class="d-md-table-cell d-none">{{ file.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not subdirs and not files %}
        <p class="text-center my-5">This folder is empty.</p>
    {% endif %}
{% endblock storage_content %}