{% extends "core/storage/base.html" %}
{% block storage_content %}
    <div class="d-flex justify-content-between mb-2 border-bottom">
        <h3>Overview</h3>
        <div class="d-flex">
            <div class="dropdown me-1">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-plus"></i> New
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-sm border dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-upload"></i> Upload
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="d-sm-table-cell d-none">Modified</th>
                <th scope="col" class="d-md-table-cell d-none">Size</th>
            </tr>
        </thead>
        <tbody>
            {% for subdir in subdirs %}
                <tr>
                    <td>
                        <a href="{% url 'core_browse' path=subdir.relative_path %}" class="text-dark text-decoration-none">
                            <i class="bi bi-folder-fill text-primary me-1"></i>
                            <span>{{ subdir.name }}</span>
                        </a>
                    </td>
                    <td class="d-sm-table-cell d-none">{{ subdir.last_modified_date }}</td>
                    <td class="d-md-table-cell d-none">{{ subdir.listdir|length }} items</td>
                </tr>
            {% endfor %}
            {% for file in files %}
                <tr>
                    <td>
                        <a href="#" class="text-dark text-decoration-none">
                            <i class="bi bi-file-earmark me-1"></i>
                            <span class="text-truncate">{{ file.name }}</span>
                        </a>
                    </td>
                    <td class="d-sm-table-cell d-none">{{ file.last_modified_date }}</td>
                    <td class="d-md-table-cell d-none">{{ file.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not subdirs and not files %}
        <p class="text-center my-5">This folder is empty.</p>
    {% endif %}
{% endblock storage_content %}