{% extends "users/base.html" %}

{% block heading %}
    <h1 class="mb-5 fw-normal text-center">{{ const.NAME }}</h1>
{% endblock heading %}

{% block form %}
    <fieldset>
        <h4 class="fw-normal">General</h4>
        <div class="form-floating mb-3">
            {% if form.house_name.errors %}
                <input type="text" class="form-control is-invalid" name="{{ form.house_name.name }}" id="{{ form.house_name.id_for_label }}" maxlength="{{ form.house_name.field.max_length }}" placeholder="House name" value="{{ form.house_name.value }}" required>
                <div class="invalid-feedback">
                    {{ form.house_name.errors }}
                </div>
            {% else %}
                <input type="text" class="form-control" name="{{ form.house_name.name }}" id="{{ form.house_name.id_for_label }}" maxlength="{{ form.house_name.field.max_length }}" placeholder="House name" value="{{ form.house_name.value }}" required>
            {% endif %}
            <label for="{{ form.house_name.id_for_label }}">House name</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" name="{{ form.unit_system.name }}" id="{{ form.unit_system.id_for_label }}">
                {% for value, name in form.unit_system.field.choices %}
                    <option value="{{ value }}" {% if value == form.unit_system.value %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            <label for="{{ form.unit_system.id_for_label }}">Unit system</label>
        </div>
    </fieldset>
    <fieldset>
        <h4 class="fw-normal">Location</h4>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    {% if latitude.errors %}
                        <input type="number" step="any" class="form-control is-invalid" name="{{ form.latitude.name }}" id="{{ form.latitude.id_for_label }}" maxlength="{{ form.latitude.field.max_length }}" placeholder="Latitude" value="{{ form.latitude.value }}" required>
                        <div class="invalid-feedback">
                            {{ form.latitude.errors }}
                        </div>
                    {% else %}
                        <input type="number" step="any" class="form-control" name="{{ form.latitude.name }}" id="{{ form.latitude.id_for_label }}" maxlength="{{ form.latitude.field.max_length }}" placeholder="Latitude" value="{{ form.latitude.value }}" required>
                    {% endif %}
                    <label for="{{ form.latitude.id_for_label }}">Latitude</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    {% if longitude.errors %}
                        <input type="number" step="any" class="form-control is-invalid" name="{{ form.longitude.name }}" id="{{ form.longitude.id_for_label }}" placeholder="Longitude" value="{{ form.longitude.value }}" required>
                        <div class="invalid-feedback">
                            {{ form.longitude.errors }}
                        </div>
                    {% else %}
                        <input type="number" step="any" class="form-control" name="{{ form.longitude.name }}" id="{{ form.longitude.id_for_label }}" placeholder="Longitude" value="{{ form.longitude.value }}" required>
                    {% endif %}
                    <label for="{{ form.latitude.id_for_label }}">Longitude</label>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock form %}