{% extends "users/base.html" %}

{% block heading %}
    <h1 class="mb-5 fw-normal text-center">Register</h1>
{% endblock heading %}

{% block form %}
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-3">
                {% if form.first_name.errors %}
                    <input type="text" class="form-control is-invalid" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" maxlength="{{ form.first_name.field.max_length }}" placeholder="First name" required>
                    <div class="invalid-feedback">
                        {{ form.first_name.errors }}
                    </div>
                {% else %}
                    <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" maxlength="{{ form.first_name.field.max_length }}" placeholder="First name" required>
                {% endif %}
                <label for="{{ form.first_name.id_for_label }}">First name</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                {% if last_name.errors %}
                    <input type="text" class="form-control is-invalid" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" maxlength="{{ form.last_name.field.max_length }}" placeholder="Last name" required>
                    <div class="invalid-feedback">
                        {{ form.last_name.errors }}
                    </div>
                {% else %}
                    <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" maxlength="{{ form.last_name.field.max_length }}" placeholder="Last name" required>
                {% endif %}
                <label for="{{ form.last_name.id_for_label }}">Last name</label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        {% if form.email.errors %}
            <input type="text" class="form-control is-invalid" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" maxlength="{{ form.email.field.max_length }}" placeholder="name@example.com" required>
            <div class="invalid-feedback">
                {{ form.email.errors }}
            </div>
        {% else %}
            <input type="text" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" maxlength="{{ form.email.field.max_length }}" placeholder="name@example.com" required>
        {% endif %}
        <label for="{{ form.email.id_for_label }}">Email address</label>
    </div>
    <div class="form-floating mb-3">
        {% if form.password1.errors %}
            <input type="password" class="form-control is-invalid" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" maxlength="{{ form.password1.field.max_length }}" placeholder="Password" required>
            <div class="invalid-feedback">
                {{ form.password1.errors }}
            </div>
        {% else %}
            <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" maxlength="{{ form.password1.field.max_length }}" placeholder="Password" required>
        {% endif %}
        <label for="{{ form.password1.id_for_label }}">Password</label>
        <small class="text-muted">{{ form.password1.field.help_text }}</small>
    </div>
    <div class="form-floating mb-3">
        {% if form.password2.errors %}
            <input type="password" class="form-control is-invalid" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" maxlength="{{ form.password2.field.max_length }}" placeholder="Password" required>
            <div class="invalid-feedback">
                {{ form.password2.errors }}
            </div>
        {% else %}
            <input type="password" class="form-control" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" maxlength="{{ form.password2.field.max_length }}" placeholder="Password" required>
        {% endif %}
        <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
        <small class="text-muted">{{ form.password2.field.help_text }}</small>
    </div>
{% endblock form %}

{% block footer %}
    <div class="border-top mt-3 text-center">
        <small class="text-muted">
            Already have an account? <a class="text-decoration-none" href="{% url 'users_login' %}">Login</a>
        </small>
    </div>
{% endblock footer %}