{% extends "users/settings/base.html" %}
{% block heading %}
    <h3>Appearance</h3>
{% endblock heading %}
{% block form %}
    <fieldset>
        <div class="form-floating mb-3">
            <select class="form-select" name="{{ form.theme.name }}" id="{{ form.theme.id_for_label }}">
                {% for value, name in form.theme.field.choices %}
                    <option value="{{ value }}" {% if value == form.theme.value %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            <label for="{{ form.theme.id_for_label }}">Theme</label>
        </div>
    </fieldset>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
    </div>
{% endblock form %}