{% load static %}
{% load tags %}

{% url 'core_browse' username=request.user.username as browse %}
{% active request browse as active_browse %}

{% url 'core_recent' as recent %}
{% active request recent as active_recent %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">

    <title>{{ const.NAME }}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
      <div class="container-fluid py-md-0 py-1">
        <button class="navbar-toggler border-0 d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>

        <button class="navbar-toggler border-0 d-md-none d-block ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-search"></i>
        </button>

        <div class="dropdown order-md-2">
          <button class="navbar-toggler border-0 d-block" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="#">
                Notifications
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'users_settings_account' %}">
                Settings
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{% url 'users_logout' %}">
                Logout
              </a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-start ms-md-2 order-md-1" id="navbarCollapse">
          <form class="mt-md-0 mt-2">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="navbarOffcanvasLabel">{{ const.NAME }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link {{ active_recent }} {% if not active_recent %}text-dark{% endif %}" href="{% url 'core_recent' %}">
              <i class="bi bi-clock me-1"></i>
              <span class="d-inline-block">Recent</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ active_browse }} {% if not active_browse %}text-dark{% endif %}" href="{% url 'core_browse' username=request.user.username %}">
              <i class="bi bi-folder me-1"></i>
              <span class="d-inline-block">Browse</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">
              <i class="bi bi-share-fill me-1"></i>
              <span class="d-inline-block">Shared</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container mt-3">
      {% block content %}{% endblock content %}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="{% static 'frontend/js/index.js' %}"></script>
  </body>
</html>