{% extends "users/settings/base.html" %}
{% block settings %}

    {% url 'api_users_user' user.username as api_users_user %}
    {% url 'users_login' as users_login %}

    <h3>Account</h3>

    <form method="POST" class="mb-3">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-floating mb-3">
            {% if form.username.errors %}
                <input type="text" class="form-control is-invalid" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" maxlength="{{ form.username.field.max_length }}" placeholder="name@example.com" value="{{ form.username.value }}" required>
                <div class="invalid-feedback">
                    {{ form.username.errors }}
                </div>
            {% else %}
                <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" maxlength="{{ form.username.field.max_length }}" placeholder="name@example.com" value="{{ form.username.value }}" required>
            {% endif %}
            <label for="{{ form.username.id_for_label }}">Username</label>
        </div>
        <div class="row g-md-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    {% if form.first_name.errors %}
                        <input type="text" class="form-control is-invalid" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" maxlength="{{ form.first_name.field.max_length }}" placeholder="First name" value="{{ form.first_name.value }}" required>
                        <div class="invalid-feedback">
                            {{ form.first_name.errors }}
                        </div>
                    {% else %}
                        <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" maxlength="{{ form.first_name.field.max_length }}" placeholder="First name" value="{{ form.first_name.value }}" required>
                    {% endif %}
                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    {% if last_name.errors %}
                        <input type="text" class="form-control is-invalid" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" maxlength="{{ form.last_name.field.max_length }}" placeholder="Last name" value="{{ form.last_name.value }}" required>
                        <div class="invalid-feedback">
                            {{ form.last_name.errors }}
                        </div>
                    {% else %}
                        <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" maxlength="{{ form.last_name.field.max_length }}" placeholder="Last name" value="{{ form.last_name.value }}" required>
                    {% endif %}
                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            {% if form.email.errors %}
                <input type="text" class="form-control is-invalid" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" maxlength="{{ form.email.field.max_length }}" placeholder="name@example.com" value="{{ form.email.value }}" required>
                <div class="invalid-feedback">
                    {{ form.email.errors }}
                </div>
            {% else %}
                <input type="text" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" maxlength="{{ form.email.field.max_length }}" placeholder="name@example.com" value="{{ form.email.value }}" required>
            {% endif %}
            <label for="{{ form.email.id_for_label }}">Email address</label>
        </div>
    
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
        </div>
    </form>

    <h4 class="pb-2 border-bottom">Delete account</h4>
    <p>Once you delete your account, there is no going back. Please be certain.</p>
    <div class="d-grid gap-2">
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'users_account_delete' %}" role="button">Delete account</a>
    </div>
{% endblock settings %}