{% extends "users/settings/base.html" %}
{% block heading %}
    <h3>Account</h3>
{% endblock heading %}
{% block form %}
    <fieldset>
        <div class="row g-md-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    {% if form.first_name.errors %}
                        <input type="text" class="form-control is-invalid" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" maxlength="{{ form.first_name.field.max_length }}" placeholder="First name" value="{{ form.first_name.value }}" required>
                        <div class="invalid-feedback">
                            {{ form.first_name.errors }}
                        </div>
                    {% else %}
                        <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" maxlength="{{ form.first_name.field.max_length }}" placeholder="First name" value="{{ form.first_name.value }}" required>
                    {% endif %}
                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    {% if last_name.errors %}
                        <input type="text" class="form-control is-invalid" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" maxlength="{{ form.last_name.field.max_length }}" placeholder="Last name" value="{{ form.last_name.value }}" required>
                        <div class="invalid-feedback">
                            {{ form.last_name.errors }}
                        </div>
                    {% else %}
                        <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" maxlength="{{ form.last_name.field.max_length }}" placeholder="Last name" value="{{ form.last_name.value }}" required>
                    {% endif %}
                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            {% if form.email.errors %}
                <input type="text" class="form-control is-invalid" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" maxlength="{{ form.email.field.max_length }}" placeholder="name@example.com" value="{{ form.email.value }}" required>
                <div class="invalid-feedback">
                    {{ form.email.errors }}
                </div>
            {% else %}
                <input type="text" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" maxlength="{{ form.email.field.max_length }}" placeholder="name@example.com" value="{{ form.email.value }}" required>
            {% endif %}
            <label for="{{ form.email.id_for_label }}">Email address</label>
        </div>
    </fieldset>
    
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
    </div>
{% endblock form %}