{% extends "core/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
            <div class="mb-3">
                <h5>Account settings</h5>
                <div class="list-group">
                    <a href="{% url 'users_settings_account' %}" class="list-group-item list-group-item-action">Account</a>
                    <a href="{% url 'users_settings_appearance' %}" class="list-group-item list-group-item-action">Appearance</a>
                    <a href="{% url 'users_settings_security' %}" class="list-group-item list-group-item-action">Security</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-12 mb-3">
            {% block settings %}{% endblock settings %}
        </div>
    </div>
{% endblock content %}