{% extends "users/settings/base.html" %}
{% block heading %}
    <h3>Security</h3>
{% endblock heading %}
{% block form %}
    <fieldset>
        <div class="form-floating mb-3">
            {% if form.old_password.errors %}
                <input type="password" class="form-control is-invalid" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" maxlength="{{ form.old_password.field.max_length }}" placeholder="Password" required>
                <div class="invalid-feedback">
                    {{ form.old_password.errors }}
                </div>
            {% else %}
                <input type="password" class="form-control" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" maxlength="{{ form.old_password.field.max_length }}" placeholder="Password" required>
            {% endif %}
            <label for="{{ form.old_password.id_for_label }}">Old password</label>
            <small class="text-muted">{{ form.old_password.field.help_text }}</small>
        </div>
        <div class="form-floating mb-3">
            {% if form.new_password1.errors %}
                <input type="password" class="form-control is-invalid" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" maxlength="{{ form.new_password1.field.max_length }}" placeholder="Password" required>
                <div class="invalid-feedback">
                    {{ form.new_password1.errors }}
                </div>
            {% else %}
                <input type="password" class="form-control" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" maxlength="{{ form.new_password1.field.max_length }}" placeholder="Password" required>
            {% endif %}
            <label for="{{ form.new_password1.id_for_label }}">New password</label>
            <small class="text-muted">{{ form.new_password1.field.help_text }}</small>
        </div>
        <div class="form-floating mb-3">
            {% if form.new_password2.errors %}
                <input type="password" class="form-control is-invalid" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" maxlength="{{ form.new_password2.field.max_length }}" placeholder="Password" required>
                <div class="invalid-feedback">
                    {{ form.new_password2.errors }}
                </div>
            {% else %}
                <input type="password" class="form-control" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" maxlength="{{ form.new_password2.field.max_length }}" placeholder="Password" required>
            {% endif %}
            <label for="{{ form.new_password2.id_for_label }}">New password confirmation</label>
            <small class="text-muted">{{ form.new_password2.field.help_text }}</small>
        </div>
    </fieldset>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Update password</button>
    </div>
{% endblock form %}